
<div id="passvv">
    <div class="overlay"></div>
    <div class="pass-bottom">
        <div class="login-card card-block auth-body mr-auto ml-auto" style="width:700px;padding-top:30px;padding: 35px;">
            <div class="text-center logo-wrapper" >
                <img src="/images/logo.png" alt="DDKOIN" width="250">
            </div>
            <div class="auth-box" style="padding:20px 0 0 0;font-size:15px;line-height:25px;font-family:Helvetica,Arial,sans-serif;color:#333;padding-left:15px;padding-right:15px;line-height: 1.35;">
            



<p<b><u>IMPORTANT ANNOUNCEMENT</u> </b></p>

<p><b><u>DDK PLATFORM MAINNET PROGRESS  BETA
MODE PERIOD_29th April 2019</u></b> </p>



<p>Dear Stakeholder / StakeHOLDlers / Token Holders / Future Stakeholders /
Trusted Delegates / Sub-Trusted Delegates / Future Delegates and Potential
Clients, </p>


<p>First of all, congratulations for those
who have successfully voted and managed to do transactions such as P2P, Stake,
New account registration, vote &amp; etc. Congratulations as well as for
Trusted Delegates that have been registered and received votes and remain for
the ranking. During the Beta Version of Mainnet platform monitoring, the platform
was running smoothly since 27<sup>th</sup> April 2019 12:08 AM (Singapore
Time), and we have also reached the maximum 250 transactions per blocks (10
second) and this is one of achievements that shown our blockchain platform
enabled to cater such a huge volume of transactions. From that date, there was
twice reloading blocks happen during the weekend and today DDK Developers still
continue concurrently on monitoring and do few changes as below information. </p>



<p>However, to reiterate that below are few
important information during this Beta Mode period that all stakeholders should
be aware of: </p>
            
            
            <ol>
  <li>As we have launched the Beta Mode DDK Platform on AEPOS New
Core, we are still in strict monitoring from Developers and Audit Team. Any
related discrepancy issues towards security and asset database, we will not
tolerate to continue the platform with instability.</li>
                <br>
  <li>The Mainnet (Beta Mode) logo will be changed accordingly from
Test Net to Mainnet latest by 30/4/2019. </li>
                <br>
  <li>The Domain Links that was provided previously has been changed
to a new 11 links that was specific for Mainnet. Below is the list of the new
link:<br>
               <ul style="list-style-type:none;">
  <li>  <a href="https://newcore-mainnet1.ddkoin.com">https://newcore-mainnet1.ddkoin.com</a></li>
   <li>  <a href="https://newcore-mainnet2.ddkoin.com">https://newcore-mainnet2.ddkoin.com</a></li>
 <li>  <a href="https://newcore-mainnet3.ddkoin.com">https://newcore-mainnet3.ddkoin.com</a></li>
                   <li>  <a href="https://newcore-mainnet4.ddkoin.com">https://newcore-mainnet4.ddkoin.com</a></li>
                   <li>  <a href="https://newcore-mainnet5.ddkoin.com">https://newcore-mainnet5.ddkoin.com</a></li>
                   <li>  <a href="https://newcore-mainnet6.ddkoin.com">https://newcore-mainnet6.ddkoin.com</a></li>
                   <li>  <a href="https://newcore-mainnet7.ddkoin.com">https://newcore-mainnet7.ddkoin.com</a></li>
                   <li>  <a href="https://newcore-mainnet8.ddkoin.com">https://newcore-mainnet8.ddkoin.com</a></li>
                     <li>  <a href="https://newcore-mainnet9.ddkoin.com">https://newcore-mainnet9.ddkoin.com</a></li>
                     <li>  <a href="https://newcore-mainnet10.ddkoin.com">https://newcore-mainnet10.ddkoin.com</a></li>
                     <li>  <a href="https://newcore-mainnet11.ddkoin.com">https://newcore-mainnet11.ddkoin.com</a></li>
</ul>
                
         
      
      

</li>
                <br>
                
                <li>Please be reminded that during this Beta Mode period, Developers
are focusing on continous monitoring to stabilized the platform and we are
doing our best to ensure the smooth running of this platform. We hope that
stakeholders can remain calm as this condition is expected as posted in the 1st
announcement that we have announced on 24th April for the launching of DDK
Mainnet
                   <p><a href="https://announcements.ddkoin.com/?p=758">https://announcements.ddkoin.com/?p=758</a></p>
                
                </li>
                
                <br>
                
                <li>Please refer to the TD you have voted if your account has arisen
by any problems. The compilation of issue regarding Stakeholders account will
be doing by TD and it will be passed to DDK Management.</li>
                
                <br>
                
                <li>Fixing and blocks monitoring will be ongoing task for developers
although we have launched DDK Mainnet. </li>
                
                <br>
                
                <li>Testing and validate platform is ongoing task for Audit Team
although we have launched the Mainnet. </li>
                <br>
                
                <li>During this period, stakeholders are advised to check on the
blocks running smoothly before you are intended to do any transactions. Beta
Mode are the period whereby the decentralization synchronization of the Trusted
Delegates nodes and server is under work in progress (WIP), Global Exchangers
listing will be integrated when smooth operations and few other Upgrade version
were integrated such as Airdrop page and etc. </li>
                
                <br>
                
                <li>Global Exchangers that we have finalized are SIMEX and
DOBIEXCHANGES, thus please be reminded that when the platform smooth, and
transactions were validate in explorer syncronized well, we will released the
exchangers. We will informed officially the exact date on releasing the GE and
listed in CMC.</li>
                
             
</ol>  





<p>Furthermore, during this BETA MODE, it is
advisable for us to stick to a specific node/link whenever you login (instead
of changing Nodes/links). Otherwise it will find irregularities and the data
will be not consistent among the Nodes which this condition can result in the
following facts:</p>
            
            
            <p>Block synchronization stability is still
ongoing task even though they have built and developed the number of
transaction issue (by increasing transaction number to 250 per block). Some
server will be slower while some server is faster (Uptime and Downtime) that
will cause the faster server being able to execute the transaction first while
the slower server is trying to catch-up. The more user login or enter the
system, the more transaction to process and the bigger the GAP. As a result,
when we try to login into different server, our data is not consistent across
the node. This is normal scenarios will happen during the BETA MODE monitoring
period.</p>
            
            <p>Currently, our Developer are trying their
best to fix this instability so that we should no longer face the problem.
However, please be noted that this is such a difficult task technically.
Blockchain synchronization is the most difficult task in any blockchain project
where different protocol required different solution. Hence, this part we
cannot just simplify copy/paste but we have to developed it from scratch.</p>
            
            <p>This is why they must stop the system and
roll forward the block to clear the cue. If you can see that there was yellow
text appear on the platform that is showing the blockchain is trying to sync
the data but NOT fast enough to catch-up with user coming in. </p>



<img border=0 width=595 height=294
id="Picture 395"
src="/images/image001.jpg">
            <p>Once developer manages to solve this issue,
then whichever nodes (or wallet link in the future) we are able to see the same</p>

<p>In Addtion, Our developers is working on the
DDK mainnet Explorer. Once it is ready, it will appear in this link: <a href="http://mainnetexplorer.ddkoin.com/">http://mainnetexplorer.ddkoin.com</a> 
            Mainnet explorer is expecting to be ready in these 1-2
days. Please be noted that this explorer link: <a href="https://explorer.ddkoin.com/">https://explorer.ddkoin.com</a> is for Masternode ONLY and not for the New Core (AEPOS).  </p>


<p>However, while waiting Mainnet Explorer to be
ready we can refer to explorer that was available in the DDK wallet.</p>
            
            <p> In conclusion, meanwhile we are doing the
changes and update on the platform to reload the Blockchain syncronization,
please note that if you need further assistance, we have open the live chat
support for your ease of direct communication with the support team - <a href="https://ddkoin.com/#max-widget">https://ddkoin.com/#max-widget</a> The chat window is from our official website <a href="www.ddkoin.com/">http://www.ddkoin.com/</a> It is a direct chat that is available 24/7 during Weekdays Monday to Friday.</p>





<p><b>DDK Management </b></p>
            <a href="https://announcements.ddkoin.com/">https://announcements.ddkoin.com/</a><br>
            <a href="https://ddkoin.com/">https://ddkoin.com/</a>
                
                <br><br>



<p class=MsoNormal align=left style='margin:0cm;margin-bottom:.0001pt;
text-align:left;text-indent:0cm;line-height:107%'></p>
                
                    <div class="m_-1802406925910922097m_-4808669824766442491social" style="border-left-color:#e0e0e0;border-left-style:none;border-left-width:1px;color:#434343;font-size:12px;line-height:20px;text-align:center;vertical-align:middle;width:100%;padding: 30px;border-top: 1px solid #e0e0e0;"
                        align="center" valign="middle">
                        Follow us: &nbsp; &nbsp;
                        <a href="https://www.facebook.com/DDKoin_Official-437883973356520/">Facebook</a> &nbsp;
                        <a href="https://www.ddkoin.com/">
                            Website</a> &nbsp;
                        <a href="https://forums.ddkoin.com/">Forum</a>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- End Sign In -->
