<div id="pass">
    <div class="overlay"></div>
    <div class="pass-bottom">
        <div class="login-card card-block auth-body mr-auto ml-auto" style="width:700px;padding-top:30px;padding: 35px;">
            <div class="text-center logo-wrapper" >
                <img src="../images/logo.png" alt="DDKOIN" width="250">
            </div>
            <div class="auth-box" style="padding:20px 0 0 0;font-size:15px;line-height:25px;font-family:Helvetica,Arial,sans-serif;color:#333;padding-left:15px;padding-right:15px;line-height: 1.35;">
                <p>Hello DDK holders,</p><br>

                <p>
                    We really hope that every Stakeholders always take a good care of your account/s during log-in into this new Multi Nodes of Mainnet Wallet. We hope that you could stay calm and please be careful for your voting transactions as we are still in BETA-TESTING period and we need to ensure the platform and servers efficiency is always at its highest! Stakeholders are advised to always check and ensure on the DDK Multinode network blockchain heights before you do your transaction. There will be a lot of work to do during this period. However congratulations to all Stakeholders who stay loyal and be a genuine Stakeholders until today!</p><br> 





                    <p>Now 100% phase blockchain DPOS protocol is activated and launched. In year 2019, DDKOIN will have many Wallets, Nodes and Crypto Exchangers, Applications that will provide your DDK asset storage service with smart contracts features. Make sure you only use the service that you have done due-diligence before making any transactions on any website or application. This is because, when the start of "Multi Nodes" DDKOIN platform has been run DECENTRALIZE multi nodes and DISTRIBUTED among 201 entity of MAXIMUM delegates nodes for the transactions on DDK CORE BLOCKCHAIN NETWORK.</p><br>
                    <p> http://128.199.194.245:7000/<br>
                        http://128.199.195.102:7000/<br>
                        http://128.199.196.19:7000/<br>
                        http://128.199.196.24:7000/<br>
                        http://128.199.194.141:7000/<br>
                        http://128.199.194.237:7000/<br>
                        http://128.199.194.245:7000/</p><br>

                    <p> http://31.28.161.181:7000/<br>
                        http://31.28.161.182:7000/<br>
                        http://31.28.161.183:7000/<br>
                        http://31.28.161.184:7000/</p><br>

                    <p>Any bug/issues please email to : multiplenode@ddkoin.com</p><br>    
                    <p>Latest news please refer DDK OFFICIAL BLOG 🎙🎙🎙 :<a href="https://blog.ddkoin.com/"> https://blog.ddkoin.com/</a></p><br>
                    <p>To join discussion refer DDK OFFICIAL FB 🎗🎗🎗:<a href="https://www.facebook.com/ddKoinofficial/">https://www.facebook.com/ddKoinofficial/</a></p><br>
                    <p><b>IMPORTANT NOTE :</b> Please note that during the first week of launching "Multi Nodes" to public any bug / error will be fixed from time to time. 1 Week duration required to stabilize network and structure of MultiNode. Please note there will be some corrections and improvements for Multi Nodes for the first week of the official launch"</p><br>
                    <p><b>RUN YOUR OWN DDK NODE</b> : : Anyone interested in starting deploying DDK Nodes for WALLETS, EXCHANGERS, APPLICATION by itself can email to requestnode@ddkoin.com and start to explore our codes on DDK GITHUB REPO at: https://github.com/AraiEzzra "</p><br>
                    <p><br> -DDK Management- </p><br>
                
                    <div class="m_-1802406925910922097m_-4808669824766442491social" style="border-left-color:#e0e0e0;border-left-style:none;border-left-width:1px;color:#434343;font-size:12px;line-height:20px;text-align:center;vertical-align:middle;width:100%;padding: 30px;border-top: 1px solid #e0e0e0;"
                        align="center" valign="middle">
                        Follow us: &nbsp; &nbsp;
                        <a href="https://www.facebook.com/DDKoin_Official-437883973356520/">Facebook</a> &nbsp;
                        <a href="https://www.ddkoin.com/">
                            Website</a> &nbsp;
                        <a href="https://forums.ddkoin.com/">Forum</a>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- End Sign In -->